PORT=8080
MODEL_DIR=./data/models
# 三个模型的云端地址（先用明文，之后再放到抖音云环境变量）
URL_YOLO=https://tt535725eacc5dfe2701-env-uvfudnfwuj.tos-cn-beijing.volces.com/yolov8n.onnx
URL_NMS=https://tt535725eacc5dfe2701-env-uvfudnfwuj.tos-cn-beijing.volces.com/nms-yolov8.onnx
URL_ORT_WASM=https://tt535725eacc5dfe2701-env-uvfudnfwuj.tos-cn-beijing.volces.com/ort-wasm-simd-threaded.wasm 